---
import Layout from '../layouts/Layout.astro';
const pageTitle = "关于我";

const skills = ["PHP", "HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const skillColor = "navy";
---
<Layout pageTitle={pageTitle}>
	<p>折腾吧，活着就是折腾。</p>
	<p>我的技能是：</p>
	<ul>
		{skills.map((skill) => <li class="skill">{skill}</li>)}
	</ul>
</Layout>

<style define:vars={{skillColor}}>
	h1{
		color: red;
		font-size: 4rem;
	}
	.skill{
		color: var(--skillColor);
		font-weight: bold;
	}
</style>