---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <h1>我的 Astro 学习博客</h1>
    <p>这是我的 Astro 学习笔记</p>
	<ul>
		<li><a href="/posts/post-1/">文章 1</a></li>
		<li><a href="/posts/post-2/">文章 2</a></li>
		<li><a href="/posts/post-3/">文章 3</a></li>
	</ul>
</Layout>
