---
import Layout from '../layouts/Layout.astro';
import Greeting from '../components/Greeting';
const pageTitle = 'Astro 学习笔记';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout pageTitle={pageTitle}>
	<p>这是我的 Astro 学习笔记</p>
	<Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there"]} />
</Layout>
